<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stress Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <header class="sticky-header">
        <h1>
            <img src="{{ url_for('static', filename='data-detectives-logo.png') }}" alt="Logo"> 
            DATA DETECTIVES
        </h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('data') }}">Data</a></li>
                <li><a href="{{ url_for('prediction') }}">GPA Prediction</a></li>
                <li><a href="{{ url_for('bulk_prediction') }}">Group Prediction</a></li>
                <li><a href="{{ url_for('stress_prediction') }}">Stress Prediction</a></li>
                <li><a href="{{ url_for('analytics') }}">Analytics</a></li>
                <li><a href="{{ url_for('train_station') }}">Train Station</a></li>

            </ul>
        </nav>
    </header>
    <main>
        <section class="prediction-form">
            <h2>Train Station</h2>
            <h3>Train your custom model here!</h3>
            <form method="POST" class="form-grid">
                <label for="Classification_Model">Select the Classification Model:</label>
                <select id="Classification_Model" name="Classification_Model" required onchange="updateParameters()">
                    <option value="KNN">K-Nearest Neighbour</option>
                    <option value="SVC">Support Vector Classification</option>
                    <option value="DT">Decision Tree</option>
                </select>

                <div class="checkboxes">
                    <label class="section-label">Selected Features:</label>
                    <label><input type="checkbox" checked="checked" name="cbStudyHours"> Study Hours Per Day</label>
                    <label><input type="checkbox" checked="checked" name="cbSleepHours"> Sleep Hours Per Day</label>
                    <label><input type="checkbox" checked="checked" name="cbSocialHours"> Social Hours Per Day</label>
                    <label><input type="checkbox" checked="checked" name="cbGPA"> GPA</label>
                    <label><input type="checkbox" checked="checked" name="bcPhysicalHours"> Physical Activity Hours Per Day</label>
                </div>

                <div class="model-parameters">
                    <label class="section-label">Model Parameters:</label>
                    <div class="parameter-group">
                        <label for="nNeighbours">Number of Neighbours:</label>
                        <input name="nNeighbours" type="number" value="3">
                    </div>
                    <div class="parameter-group">
                        <label>Weights:</label>
                        <label><input name="weights" type="radio" value="uniform" checked="checked"> Uniform</label>
                        <label><input name="weights" type="radio" value="distance"> Distance</label>
                    </div>
                    <div class="parameter-group">
                        <label>Metric:</label>
                        <label><input name="metric" type="radio" value="euclidean" checked="checked"> Euclidean</label>
                        <label><input name="metric" type="radio" value="manhattan"> Manhattan</label>
                    </div>
                </div>

                <label for="txtModelName">Name your model:</label>
                <input name="txtModelName" required>
                <button type="submit" class="submit-button">Train</button>
            </form>


            {% if result %}
            <div class="prediction-result">
                <table>
                    <tr>
                        <th colspan="2">
                            Training Results
                        </th>
                    </tr>
                    <tr>
                        <td>Algorithm</td>
                        <td><i>{{ model }}</i></td>
                    </tr>
                    <tr>
                        <td>Accuracy</td>
                        <td><i>{{ result }}</i></td>
                    </tr>
                    {% for param in parameters %}
                    <tr>
                        <td><i>{{ param }}</i></td>
                        <td><i>{{ parameters[param] }}</i></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}   
            
            {% if fig_json %}
            <div class="chart-container">
                <div class="chart" id="heatmap"></div>
            </div>
            {% endif %}   

        </section>
    </main>

    <script>
        // Render the plot
        let plot_ = JSON.parse('{{ fig_json | safe }}');
        Plotly.newPlot('heatmap', plot_);

        function updateParameters() {
            // Get the selected value from the dropdown
            const category = document.getElementById("Classification_Model").value;

            // Update the labels for the checkboxes
            const div1 = document.getElementById("p1");
            const div2 = document.getElementById("p2");
            const div3 = document.getElementById("p3");
            if(category == "SVC"){
                div1.innerHTML = 'C:<input name="C" type="text" value="1" style="width: 50px; margin: 5px;height: 5px;">';
                div2.innerHTML = 'Kernel:<input name="kernel" type="radio" value="linear" checked="checked">linear</input><input name="kernel" type="radio" value="rbf">rbf</input><input name="kernel" type="radio" value="poly">poly</input>';
                div3.innerHTML = 'gamma:<input name="gamma" type="radio" value="scale" checked="checked">scale</input><input name="gamma" type="radio" value="auto">auto</input>';
            } else if (category == "KNN"){
                div1.innerHTML = 'Number of neighbours:<input name="nNeighbours" type="number" value="3" style="width: 50px; margin: 5px;height: 5px;">'
                div2.innerHTML = 'weights:<input name="weights" type="radio" value="uniform" checked="checked">uniform</input><input name="weights" type="radio" value="distance">distance</input>'
                div3.innerHTML = `Metric:
                                    <input name="metric" type="radio" value="euclidean" checked="checked">euclidean</input>
                                    <input name="metric" type="radio" value="manhattan">manhattan</input>`
            } else if (category == "DT"){
                div1.innerHTML = 'max depth:<input name="max_depth" type="number" value="10" style="width: 50px; margin: 5px;height: 5px;">'
                div2.innerHTML = 'min samples split:<input name="min_samples_split" type="number" value="2" style="width: 50px; margin: 5px;height: 5px;">'
                div3.innerHTML = `Criterion:
                                    <input name="criterion" type="radio" value="gini" checked="checked">gini</input>
                                    <input name="criterion" type="radio" value="entropy">entropy</input>`
            }
            
        }
    </script>
</body>
</html>